<div class="row">
	<div class="col-12">
		<mat-card>
			<mat-card-content>




                <div class="card">
                    <div class="card-header">
                      Liste des instructors
                    </div>
                    <div class="card-body">
                     
				<table class="table">
                    <thead>
                        <tr>
                            <th>First name</th>
                            <th>last name</th>
                            <th>date of hire</th>
                            <th class="text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let instruction of instructors">
                            <td>{{instruction.firstName}} </td>
                            <td>{{instruction.lastName}}</td>
                            <td>{{instruction.dateOfHire}}</td>
                            <td class="td-actions text-right">
                                <button type="button" rel="tooltip" class="btn btn-info btn-round">
                                    <i class="material-icons">person</i>
                                </button>
                                <button type="button" rel="tooltip" class="btn btn-success btn-round">
                                    <i class="material-icons">edit</i>
                                </button>
                                <button (click)="deleteInstructor(instruction.numInstructor)"  type="button" rel="tooltip" class="btn btn-danger btn-round">
                                    <i class="material-icons">close</i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                    </div>
                  </div>









			</mat-card-content>
		</mat-card>
	</div>
</div>