<div class="row">
	<div class="col-12">
		<mat-card>
			<mat-card-content>




                <div class="card">
                    <div class="card-header">
                      Liste des registrations
                    </div>
                    <div class="card-body">
                     
				<table class="table">
                    
                        <thead>
                            <tr>
                                <th>num week</th>
                                <th>course num</th>
                                <th>skier num</th>
                               
                                <th class="text-right">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let registration of registrations">
                                <td>{{registration.numWeek}} </td>
                                <td>{{registration.courseNumCourse.typeCource}}</td>
                                <td>{{registration.skierNumSkier.firstName}}</td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" class="btn btn-info btn-round">
                                        <i class="material-icons">person</i>
                                    </button>
                                    <button type="button" rel="tooltip" class="btn btn-success btn-round">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button (click)="deleteRegistration(registration.numRegistration)"  type="button" rel="tooltip" class="btn btn-danger btn-round">
                                        <i class="material-icons">close</i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    
                </table>
                    </div>
                  </div>









			</mat-card-content>
		</mat-card>
	</div>
</div>